.tournament-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #e0e0e0;

  h1 {
    color: #61BA50;
    font-weight: bold;
    font-size: 2rem;
  }

  .ready-section {
		margin-top: 1rem;

		.ready-button {
			padding: 0.5rem 1rem;
			font-size: 1.2rem;
			color: white;
			background-color: #61BA50;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #4da743;
			}

			&:active {
				background-color: #3b8c36;
			}
		}
	}

  .single-elimination-bracket, .round-robin-bracket {
    width: 100%;
    max-width: 700px;
    background-color: #0E0F10;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .round {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 8px;
      border: 1px solid #61BA50;
      background-color: #1f1f1f;
      width: 100%;

      h4 {
        color: #61BA50;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .match {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.75rem;
        background: #202020;
        border: 1px solid #61BA50;
        border-radius: 5px;
        position: relative;
        margin-bottom: 0.5rem;

        .player {
          font-size: 0.9rem;
          flex: 1;
          padding: 0 1rem;
          text-align: center;
          font-weight: bold;
          color: #e0e0e0;
        }

        .vs {
          font-size: 1rem;
          color: #adb5bd;
          font-weight: bold;
        }

        .winner {
          font-size: 0.85rem;
          font-weight: bold;
          color: #FF5722;
          margin-top: 0.5rem;

          .tie-note {
            font-style: italic;
            color: #adb5bd;
            font-size: 0.8rem;
          }
        }

        .info {
          font-size: 0.85rem;
          font-weight: bold;
          color: #FF5722;
          margin-top: 0.5rem;
        }
      }
    }
  }
}