<div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="selection-container" *ngIf="!isLoading">
    <h2>Select Game Mode</h2>
  
    <!-- Game Mode Selection Buttons -->
    <div class="game-mode-buttons">
      <li><a routerLink="/games/local-pve/">Player vs Environment (PVE)</a></li>
      <li><a routerLink="/games/local-pvp/">Local Player vs Player (PvP)</a></li>
      <button (click)="selectGameMode('online_pvp')">Online Player vs Player (PvP)</button>
      <button (click)="selectGameMode('tournament')">Tournament</button>
    </div>
  
    <!-- Display Selected Game Mode -->
    <div *ngIf="selectedGameMode" class="selected-mode">
      <p>Selected Mode: {{ selectedGameMode }}</p>
    </div>
  
    <!-- Display All Games -->
    <div class="games-list">
      <h3>All Games</h3>
      <ul>
        <li *ngFor="let game of games">
          <a [routerLink]="['/games/details/', game.id]">
            {{ game.player1.username }} vs {{ game.player2.username || 'AI' }} - 
            Mode: {{ game.game_mode }} - 
            Score: {{ game.score_player1 }} : {{ game.score_player2 }}
            <span *ngIf="game.is_completed"> (Completed)</span>
          </a>
        </li>
      </ul>
    </div>
  
    <!-- Log Display for Testing -->
    <div class="logs">
      <h3>Logs</h3>
      <ul>
        <li *ngFor="let log of logs">{{ log }}</li>
      </ul>
    </div>
  </div>
  