.renderer-container {
  position: static;
  top: 0;
  left: 0;
  width: 1000px;
  height: 500px;
  overflow: hidden;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #61ba50;
  margin-bottom: 1rem;
}