.navbar {
  position: relative;
  z-index: 100;
  padding: 10px 20px;
  border-bottom: 1px solid #343a40;

  .navbar-brand {
    font-weight: bold;
    color: #61BA50 !important;
    font-size: 1.5rem;
  }

  .nav-link {
    color: #f8f9fa !important;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #61BA50 !important;
    }
  }
}
