<div class="game-details" *ngIf="game && !isLoading">
  <div class="game-header">
    <h2>{{ game.game_mode }}</h2>
    <p class="status" [ngClass]="{
        'status-completed': getGameStatus(game) === 'Completed',
        'status-canceled': getGameStatus(game) === 'Canceled',
        'status-running': getGameStatus(game) === 'Running'
      }">
      Status: {{ getGameStatus(game) }}
    </p>
  </div>

  <div class="game-info">
    <div class="info-section">
      <h3>Details</h3>
      <p><strong>Player 1:</strong> {{ game.player1.username }}</p>
      <p><strong>Player 2:</strong> {{ game.player2.username || 'Unknown' }}</p>
      <p *ngIf="game.game_mode == 'arena_pvp' || game.game_mode == 'online_arena_pvp'"><strong>Player 3:
        </strong>{{game.player3?.username}}</p>
      <p *ngIf="game.game_mode == 'arena_pvp' || game.game_mode == 'online_arena_pvp'"><strong>Player 4:
        </strong>{{game.player4?.username}}</p>
      <p><strong>Score:</strong> {{ game.score_player1 }} : {{ game.score_player2 }} <span
          *ngIf="game.game_mode == 'arena_pvp' || game.game_mode == 'online_arena_pvp'"> : {{game.score_player3}} :
          {{game.score_player4}}</span></p>
      <p><strong>Winner:</strong> {{ game.winner?.username || 'Tie' }}</p>
      <p><strong>Game Mode:</strong> {{ game.game_mode }}</p>
    </div>

    <div class="time-section">
      <h3>Game Times</h3>
      <p><strong>Start Time:</strong> {{ game.start_time | date: 'medium' }}</p>
      <p><strong>End Time:</strong> {{ game.end_time | date: 'medium' }}</p>
      <p><strong>Duration:</strong> {{ game.duration | number }} ms</p>
    </div>
  </div>

  <div class="rounds-section" *ngIf="game.rounds?.length">
    <h3>Rounds</h3>
    <div *ngFor="let round of game.rounds" class="round-card">
      <h4>Round {{ round.round_number }}</h4>
      <p><strong>Start:</strong> {{ round.start_time | date: 'mediumTime' }}</p>
      <p><strong>End:</strong> {{ round.end_time | date: 'mediumTime' }}</p>
      <p><strong>Score:</strong> {{ round.score_player1 }} - {{ round.score_player2 }} <span
          *ngIf="game.game_mode == 'arena_pvp' || game.game_mode == 'online_arena_pvp'"> - {{round.score_player3}} -
          {{round.score_player4}}</span></p>
      <p><strong>Winner:</strong> {{ round.winner }}</p>
    </div>
  </div>

  <div class="moves-log" *ngIf="game.moves_log?.length">
    <h3>Move Log</h3>
    <ul>
      <li *ngFor="let move of game.moves_log">
        <strong>{{ move.time | date: 'mediumTime' }}</strong>:
        <span>{{ move.player }} performed "{{ move.action }}"</span>
      </li>
    </ul>
  </div>
</div>