<div class="game-container">
  <h1>Pong 1vAI Game</h1>

  <!-- Game Settings -->
  <div *ngIf="!gameInProgress && !currentGame" class="game-settings">
    <h3>Game Settings</h3>
    <label>
      Max Rounds:
      <input type="number" [(ngModel)]="settings.maxRounds" min="1">
    </label>
    <label>
      Round Score Limit:
      <input type="number" [(ngModel)]="settings.roundScoreLimit" min="1">
    </label>
    <button (click)="startNewGame()">Start New Game</button>
  </div>

  <!-- Game progress and controls -->
  <div *ngIf="gameInProgress && currentGame" class="game-info">
    <p>Game Mode: {{ currentGame.game_mode }}</p>
    <p>{{ displayNameHost }} vs {{ currentGame.player2.username }}</p>
    <p>Game Timer: {{ gameElapsedTime }}</p>
    <p>Round Timer: {{ roundElapsedTime }}</p>
    <p>Current Round: {{ currentGame.rounds.length }} of {{ settings.maxRounds }}</p>
    <p>Score: {{ displayNameHost }} ({{ currentGame!.score_player1 }}/{{ settings.maxRounds }}) - AI ({{ currentGame!.score_player2 }}/{{ settings.maxRounds }})</p>

    <app-game-canvas
    [gameSettings]="settings"
    (onScore)='this.updateScore($event)'
    ></app-game-canvas>

    <!-- <div class="controls">
      <button (click)="updateScore('human')">{{ player1Name }} Scores</button>
      <button (click)="updateScore('bot')">AI Scores</button>
    </div> -->
  </div>

  <!-- Game results after completion -->
  <div *ngIf="!gameInProgress && currentGame && currentGame.is_completed" class="game-result">
    <h2>Game Over</h2>
    <p>Winner: {{ currentGame.winner!.username }}</p>
    <p>Game Duration: {{ currentGame.duration | number:'1.2-2' }} seconds</p>

    <h3>Rounds</h3>
    <ul>
      <li *ngFor="let round of currentGame.rounds">
        Round {{ round.round_number }} - Winner: {{ round.winner || 'In Progress' }} - 
        Duration: {{ calculateRoundDuration(round) }}
      </li>
    </ul>

    <h3>Moves Log</h3>
    <ul>
      <li *ngFor="let move of currentGame.moves_log">
        {{ move.time }} - {{ move.player }}: {{ move.action }}
      </li>
    </ul>

    <button (click)="startNewGame()">Play Again</button>
  </div>

  <!-- Logs for current game and any previous games -->
  <div class="logs">
    <h3>Logs</h3>
    <ul>
      <li *ngFor="let log of logs">{{ log }}</li>
    </ul>
    <h3>Previous Games</h3>
    <ul>
      <li *ngFor="let prevLog of previousGames">{{ prevLog }}</li>
    </ul>
  </div>
</div>
