<div class="game-room">
  <header>
    <h2>Local AI</h2>
  </header>

  <!-- Game Settings -->
  <section class="settings" *ngIf="!gameInProgress && !currentGame">
    <div class="setting-item">
      <h4>Max Rounds</h4>
      <input type="number" [(ngModel)]="settings.maxRounds" name="maxRounds" min="1" max="25" step="1"
        pattern="^[0-9]+$" class="form-control" placeholder="Enter max rounds" #maxRoundsInput="ngModel" required />
      <div *ngIf="maxRoundsInput.invalid && (maxRoundsInput.dirty || maxRoundsInput.touched)" class="text-danger">
        <small *ngIf="maxRoundsInput.errors?.['required']">Max Rounds is required.</small>
        <small *ngIf="maxRoundsInput.errors?.['min']">Minimum value is 1.</small>
        <small *ngIf="maxRoundsInput.errors?.['max']">Maximum value is 25.</small>
        <small *ngIf="maxRoundsInput.errors?.['pattern']">
          Round Score Limit must be a whole number.
        </small>
      </div>
    </div>
    <div class="setting-item">
      <h4>Round Score Limit</h4>
      <input type="number" [(ngModel)]="settings.roundScoreLimit" name="roundScoreLimit" min="1" max="25" step="1"
        pattern="^[0-9]+$" class="form-control" placeholder="Enter score limit" #roundScoreLimitInput="ngModel"
        required />
      <div *ngIf="roundScoreLimitInput.invalid && (roundScoreLimitInput.dirty || roundScoreLimitInput.touched)"
        class="text-danger">
        <small *ngIf="roundScoreLimitInput.errors?.['required']">Round Score Limit is required.</small>
        <small *ngIf="roundScoreLimitInput.errors?.['min']">Minimum value is 1.</small>
        <small *ngIf="roundScoreLimitInput.errors?.['max']">Maximum value is 25.</small>
        <small *ngIf="roundScoreLimitInput.errors?.['pattern']">
          Round Score Limit must be a whole number.
        </small>
      </div>
    </div>
    <div class="setting-item">
      <h4>Difficulty</h4>
      <select [(ngModel)]="settings.difficulty" class="form-control">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </div>
    <div class="player-info">
      <div class="player-name">
        <h4>
          <p>{{displayNameHost}} vs AI</p>
        </h4>
      </div>
    </div>
    <div class="actions">
      <button class="start-game-btn" (click)="startNewGame()"
        [disabled]="maxRoundsInput.invalid || roundScoreLimitInput.invalid">
        <svg viewBox="0 0 24 24">
          <path fill="#fff" d="M8 5v14l11-7z" />
        </svg>
        Start Game
      </button>
    </div>
  </section>

  <!-- Game Progress and Controls -->
  <section class="game-view" *ngIf="gameInProgress && currentGame">
    <p class="score">
      {{ getCurrentRound().round_number }} of {{ settings.maxRounds }} Rounds
      <strong>{{ displayNameHost }}:</strong> {{ currentGame.score_player1 }} -
      <strong>AI</strong> {{ currentGame.score_player2 }}
    </p>
    <app-game-canvas [gameSettings]="settings" (onScore)="updateScore($event)"></app-game-canvas>
    <div class="timers">
      <p><strong>Game Timer:</strong> {{ gameElapsedTime }}</p>
      <p><strong>Round Timer:</strong> {{ roundElapsedTime }}</p>
    </div>
  </section>

  <!-- Game Results -->
  <section class="game-result" *ngIf="!gameInProgress && currentGame && currentGame.is_completed">
    <div class="result-header">
      <h3>Game Over</h3>
    </div>
    <div class="result-body">
      <p><strong>Winner:</strong> {{ currentGame.winner?.username || 'AI' }}</p>
      <p>
        <strong>Game Duration:</strong>
        {{ currentGame.duration | number: '1.2-2' }} seconds
      </p>

      <h4>Rounds Summary</h4>
      <ul class="summary-list">
        <li *ngFor="let round of currentGame.rounds" class="summary-item">
          <p>
            Round {{ round.round_number }} - Winner:
            {{ round.winner || 'In Progress' }} - Duration:
            {{ calculateRoundDuration(round) }}
          </p>
        </li>
      </ul>

      <h4>Moves Log</h4>
      <ul class="moves-log">
        <li *ngFor="let move of currentGame.moves_log" class="move-item">
          <span class="move-time">{{ move.time | date: 'shortTime' }}</span> -
          {{ move.player }}: {{ move.action }}
        </li>
      </ul>

      <button class="play-again-btn" (click)="startNewGame()">Play Again</button>
    </div>
  </section>

  <!-- Game Logs -->
  <!-- <section class="logs" *ngIf="logs.length || previousGames.length">
    <div class="logs-header">
      <h4>Logs</h4>
    </div>
    <ul class="log-list">
      <li *ngFor="let log of logs" class="log-item">{{ log }}</li>
    </ul>
    <h4>Previous Games</h4>
    <ul class="previous-games">
      <li *ngFor="let prevLog of previousGames" class="prev-game-item">{{
        prevLog
      }}</li>
    </ul>
  </section> -->
</div>