<div class="game">
	<div *ngIf="gameInProgress" class="game-in-progress">
		<p><strong>Remaining Time: {{remainingTime}}</strong></p>
		<p><strong>Score:</strong></p>
		<p class="score">
			<strong>{{ leftScore }}</strong> - <strong>{{ rightScore }}</strong>
		</p>
		<app-game-display [gameState]="gameState" [gameSettings]="gameSettings"></app-game-display>
	</div>
	<div *ngIf="!isReady" class="ready-section">
		<button class="ready-button" (click)="updateReadyStatus()">Ready</button>
	</div>
</div>